.jumbotron {
  background-color: #b3d1ff;
  font-family: sans-serif;
}

img {
  float: left;
  height: 210px;
  width: inherit;
  margin: 5px;
  padding-right: 10px;
  border-radius: 50px;
}


.italic {
  font-style: italic;
}

.hobbies {
  height: 250px;
  width: 400px;
}

html {
  background-image:
  background-repeat: no-repeat;
}

.edu {
  padding-top: 3px;
  font-weight: bold;
}

.break {
  margin-left: 600px;
}

body {
  background-image: url("https://wallpaperstudio10.com/wallpaper-download-178799-640x960.jpg");
  background-size: cover;

}

.bg-info
{
  background-color: #b3d1ff;
  background
}
