.jumbotron {
  background-color: #b3ecff;
  font-family: sans-serif;
}

img {
  float: left;
  height: 210px;
  width: inherit;
  margin: 5px;
  padding-right: 10px;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.hobbies {
  height: 250px;
  width: 400px;
}

html {
  background-image:
  background-repeat: no-repeat;
}

.edu {
  padding-top: 3px;
  font-weight: bold;
}

.break {
  margin-left: 600px;
}
